html{
    background: url(../img/main-bg.jpg) no-repeat left top;
}
body{
    background: none;
}


.styling h1{
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    color: #547E99;
}
.styling ol{
    list-style-position: inside;
}
.styling li{
    font-family: georgia;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
.styling li span{
    font-family: arial;
    font-style: normal;
    font-size: 14px;
    color: #012F4D;
}


.central-hover-panel{
  /*  border: 1px dashed red; */
    height: 500px;
    width: 500px;
    margin: 100px auto 0;
    cursor: pointer;
}
.central-hover-panel:hover{
    background: #000;
    opacity: 0.5;
}