<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Untitled</title>
  <link rel="stylesheet" type="text/css" href="/style/css/reset.min.css">
  
  
  <script type="text/javascript" src="/style/js/jquery-1.8.3.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/woothemes/flexslider.css">
  <script type="text/javascript" src="/woothemes/jquery.flexslider.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('.flexslider').flexslider({
        animation: 'slide',
        itemWidth: 607,
        itemHeight: 500,
      });
    })
  </script>
  
  <link rel="stylesheet" type="text/css" href="/style/css/styles.css">
</head>
<body>
  <div style="height: 500px; background: red;">
  
  {% include 'base/slider.html' %}
  
  </div>
</body>
</html>