*{
    font-family: arial, tahoma, sans-serif;
}

body{
    font-size: 12px;
    line-height: 16px;
}


.flexslider {
    margin: 0;
    background: none;
    border: 0px solid white;
}
.flex-control-nav {
    bottom: 0px;
}

.blend{
    position: absolute;
    height: 500px;
    width: 607px;
    background: url(/style/img/blend.png) top left;
}